.homeContent {
    background-image: url(../images/moneyBackground.jpg);
    background-size: cover;
}
.homeTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 3rem;
    color: greenyellow;
}